.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .3;
}

.arrow.left {
  left: -40px;
}

.arrow.right {
  right: -40px;
}

@media (max-width: 565px){
  .arrow {
    top: 110%;
  }
}

#carouselBox {
  position: relative;
  margin: 0px 100px;
  border: 1px solid #ababab;
  border-radius: 10px;
}

@media (max-width: 565px) {
  #carouselBox {
    margin: 0px;
  }
  .arrow.left {
    left: 30px;
  }
  .arrow.right {
    right: 30px;
  }
}


#carouselBox:hover .arrow {
  opacity: .5;
}

.imgSlider {
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
  height: 250px;
}

.carousel-inner {
  border-radius: 10px;
}
