/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #7FFFD4;
}

.form-control:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 1px var(--primary-color) !important;
}
