# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
client/dist
client/tmp
client/out-tsc
client/bazel-out

# Node
client/node_modules
server/node_modules
client/npm-debug.log
client/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings

# System files
client/.DS_Store
client/Thumbs.db
