.roomsRow,
.apartmentsRow {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 10px;
}

.placesRow {
  margin-inline: auto;
}

.titleDecoration {
  background-color: var(--primary-color);
  padding: 30px 10px;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .titleDecoration {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 5px 20px;
    margin-top: 0px;
  }

  .container {
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .actionsRow h3.blue {
    margin-left: 0 !important;
    text-align: center;
  }
  .commandsOptions {margin-inline: auto;}
}

.actionsRow h3.blue {
  margin-left: 50px;
}

.container {
  width: 100%;
  max-width: unset;
}

h3 { margin: 0;}

.btn {
  background: linear-gradient(45deg,#000000,var(--primary-color));
  transition: all .3s ease-out;
  background-size: 1px 500px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #555;
  right: 10px;
  bottom: 10px;
}

.btn:hover {
  background-position: 500px;
  color: #fff;
}

.commandsOptions {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
  gap: 10px;
}

.cardDetails {
  border: 1px solid #ababab;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 10px;
  box-shadow: 0 0 10px #ebebeb;
}

@media (min-width: 991px) {
  .cardDetails {
    min-height: 400px;
    align-items: center;
  }
  .commandsOptions {
    margin-top: 20px;
    margin-right: 110px;
  }
}

@media (max-width: 767px){
  .cardDetails{
    padding-inline: 0px;
    border: none;
    box-shadow: none;
  }
}

.cardDetails h5 {
  margin-bottom: 1rem;
}

.cardDetails p {
  margin-bottom: .2rem;
}

.cardDetails > div:nth-child(2) p {
  text-align: center;
  margin-bottom: 10px;
}

.actionsRow {
  margin-block: 50px;
}

.top {
  height: 200px;
  background-color: var(--primary-color);
}

.top p {
  margin: 0px;
  color: #555;
  margin-left: 30px;
  font-family: 'Spline Sans Mono';
  font-size: 20px;
}

.top p > span {
  font-weight: 700;
  font-size: 23px;
}

.top > div {
  display: flex;
  align-items: center;
  height: 100%;
}

.container.top {
  margin: 0;
  width: 100vw;
  max-width: unset;
}

.btnNew {
  transition: all .2s ease-out;
  border-radius: 15px;
  /* width: 100%; */
  padding-block: 10px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  color: #555;
  text-decoration: none;
}

.btnNew:hover {
  background-color: #eee;
}

.subImg {
  object-fit: contain;
  top: 50%;
  width: clamp(350px, 50%, 100%);
}

.imgFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 400px;
  overflow: hidden;
}

.transparent {
  opacity: 0 !important;
  pointer-events: none;
}

.arrow {
  cursor: pointer;
  opacity: .3;
}

.arrow:hover {
  opacity: .7;
}

@media (max-width: 510px) {
  .arrow {
    opacity: 1;
    position: absolute;

  }
  .arrow>svg {
    fill: var(--primary-color);
  }
  .imgFrame{
    position:relative;
  }
  .arrow.left {
    left: 0px;
  }
  .arrow.right {
    right: 0px;
  }
}

.blue {
  color: var(--bs-blue);
}
