<div class="padding" *ngIf="isLoading"></div>
<app-loading [width]="100" *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading && !isNew && !isEditing">
  <div class="top">
    <div class="row">
      <div class="col-md-9">
        <p>That's your <span>dashboard</span>, <br>here you can menage your marketplace.</p>
      </div>
      <div class="col-md-3">
        <a routerLink="/dashboard/new" class="btnNew" (click)="isNew = true">Add new Place</a>
      </div>
    </div>
  </div>
  <div class="row actionsRow">
    <div class="col-md-6">
      <div class="row placesRow container">
        <div class="noPlaces" *ngIf="places.length == 0">
          <h3>No places yet</h3>
        </div>
        <app-dashboard-slider [places]="places" *ngIf="places.length != 0"></app-dashboard-slider>
      </div>
    </div>
    <div class="col-md-6">
      <div class="titleDecoration">
        <h3>Commands</h3>
      </div>
      <div class="commandsOptions">
        <a class="btn" routerLink="/dashboard/edit" [ngClass]="{disabled: places.length == 0}" (click)="isEditing = true">Edit Selected</a>
        <a class="btn" [ngClass]="{disabled: places.length == 0}" (click)="deleteSelected()">Delete Selected</a>
      </div>
    </div>
  </div>

  <div class="row details container" *ngIf="selectedPlace">
    <div class="cardDetails">
      <h5>Details</h5>
      <p>Location: <span> {{selectedPlace.location.city + ", " + selectedPlace.location.country}} </span></p>
      <p>Address: <span> {{selectedPlace.location.address}} </span></p>
      <p>People: <span> {{selectedPlace.people.min + " - " + selectedPlace.people.max}} </span></p>
      <p>Visibility: <span>{{selectedPlace.active ? 'Public' : 'Private'}}</span></p>
    </div>
  </div>
</div>
<router-outlet *ngIf="isNew || isEditing"></router-outlet>
