<div class="top">
  <div class="row">
    <div class="col-md-6">
      <p>Creating new <span>place</span></p>
    </div>
    <div class="col-md-6 topContainer">
      <a class="btnTop" (click)="cancel()">Cancel</a>
      <a class="btnTop" (click)="done()">Done</a>
    </div>
  </div>
</div>

<div class="row container detailContainer">

  <div class="col-md-12">
    <label class="image blue">Add image:</label>
    <label for="file-input" class="custom-image-button btn btnBecameSeller">
      <i class="fa fa-upload"></i> Upload Image
    </label>
    <input type="file" id="file-input" (change)="onFileSelected($event)">
  </div>

  <div class="row detailRow">
    <label class="blue">Location:</label>
    <div class="col-md-12">
      <label>Country: <input type="text" [(ngModel)]="location.country"></label>
      <label>City: <input type="text" [(ngModel)]="location.city"></label>
      <label>Address: <input type="text" [(ngModel)]="location.address"></label>
    </div>
  </div>

  <div class="row detailRow">
    <label class="blue">Desired people:</label>
    <div class="col-md-12">
      <label>Minimum: <input type="number" min="1" value="1" [(ngModel)]="people.min"></label>
      <label>Maximum: <input type="number" [min]="people.min" [value]="people.min" [(ngModel)]="people.max"></label>
    </div>
  </div>

  <div class="row detailRow">
    <label class="blue">Price:</label>
    <div class="col-md-12">
      <label>Amount: <input type="number" min="1" [(ngModel)]="price.value"/></label>
      <label>Period:
        <select [(ngModel)]="price.period">
          <option value="day">daily</option>
          <option value="week">weekly</option>
          <option value="month">monthly</option>
          <option>yearly</option>
        </select>
      </label>
    </div>
  </div>

</div>
