<div *ngIf="isVisible" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">
          {{isRegistration ? 'Register' : 'Login'}}
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>


      <div class="modal-body">

        <div class="row" *ngIf="isRegistration">
          <!-- Register -->
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
          <input type="text" class="form-control" placeholder="Name and Surname" [(ngModel)]="name">
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
          <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="password2">
        </div>

        <div class="row" *ngIf="!isRegistration">
          <!-- Login -->
            <input type="text" class="form-control" placeholder="Email or Username" [(ngModel)]="usernameOrEmail">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
        </div>

      </div>


      <div class="modal-footer">

        <button type="button" id="btnConfirm" (click)="isRegistration ? register() : login()" class="btn">Done</button>

        <div class="row" style="width: 100%; border-top: 1px solid #dee2e6;">

          <div class="col-12" *ngIf="isRegistration">
            <p class="notAn">Already have an account? <a (click)="isRegistration = false">Login</a></p>
          </div>

          <div class="col-12" *ngIf="!isRegistration">
            <p class="notAn">Do not have an account? <a (click)="isRegistration = true">Register</a></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
