/* Banner */
.banner-row {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 1;
}

.banner {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

.banner > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  filter: brightness(0.2);
}

.banner > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
}


/* Roles */
.role-row {
  min-height: 250px;
  max-width: 100vw;
  margin: 0;
}

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.role-box {
  text-decoration: none;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  color: #555;
  width: 600px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  transition: all .3s;
}

.role-box > p {
  margin-right: 30px;
  margin-left: auto;
  transition: margin-left 1s;
}

.role-box > h3 {
  margin-left: 20px;
  transition: font-size 1s ease-out;
}

.role-box:hover {
  box-shadow:  0 0 10px 0 rgba(0,0,0,1);
  background-color: rgba(3, 78, 78, 0.7);
  color: #bbb;
}

.role-box:hover > p {
  font-size: 20px;
}

.role-box:hover > h3 {
  color: #fff;
  margin-left: 40px;
}
