<div class="row banner-row">
  <div class="col-md-12 banner">
    <section class="imgSection">
      <img class="blur brightness" src="../../assets/img/banner_background.jpg">
    </section>
    <section>
      <div class="content">
        <h2>tenant</h2>
        <h2>tenant</h2>
      </div>
    </section>

  </div>
</div>

<div class="row role-row">
  <div class="col-md-6 role">
    <a routerLink="/marketplace" class="role-box">
      <h3>Buyer</h3>
      <p>Go to the marketplace</p>
    </a>
  </div>
  <div class="col-md-6 role">
    <a (click)="dashboard()" class="role-box">
      <h3>Seller</h3>
      <p>Go to the dashboard</p>
    </a>
  </div>
</div>
