<div class="container-marketplace">
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
  <div class="col-card"><app-marketplace-card></app-marketplace-card></div>
</div>
